/* Corrección para asegurar que el menú no se superponga */
#menu {
    z-index: 50; /* Prioridad sobre otros elementos */
}

/* Estilo para las tarjetas del material de apoyo */
#materialApoyo .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#materialApoyo .card img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

#materialApoyo .card h3 {
    font-size: 1.25rem;
    font-weight: bold;
}

/* Estilos para el modal (si es necesario) */
#modalEditar {
    display: none;
}

#modalEditar form input,
#modalEditar form button {
    outline: none;
}

#modalEditar button:hover {
    cursor: pointer;
}
